:host ::ng-deep{
  & .p-table{


    & .p-table-header{
      text-align: center;
    }
  }
}




td {
  border: 1px solid black;
  padding: 5px;
  position: relative;
}
.delete-line td::after {
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
  pointer-events: none;
  transform: scaleY(0.5);
}

.vertical-center{
  align-items: center;
  justify-content: center;
}
